# Visual Studio Code

/vscode

# Testes

/index.spec.ts

# Módulos

.package-lock.json
/node_modules/.package-lock.json
/node_modules
/package-lock.json

# Secretos

.env

# Replit

.replit
replit.nix

# SquareCloud

squarecloud.app